body {
    margin: 0;
    padding: 0;
}

.flip-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px; 
    align-items: center;
    height: 48.1vmax;
    background-color: #0A1045; 
}

.flip-card {
    background-color: transparent;
    width: 90%;
    height: 90%;
    padding-left: 5%;
    perspective: 1000px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    box-sizing: border-box;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 3s;
    transform-style: preserve-3d;
    background-color: #262cd3; 
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}


.flip-card-front {
    background-color: #8892de; 
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.flip-card-back {
    background-color: #252d9e;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

.flip-card-back {
    background-color: #363c95;
    color: white;
    transform: rotateY(180deg);
}


p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.8vw;

}

h2 {
    border: solid #000315;
    border-radius: 2vw;
    padding: 1vw;
    background-color: rgb(133, 128, 189);
    font-weight: bolder;
    font-family: cursive;
    font-size: 2.5vw; 
}
@media (max-width: 768px) {
    p {
        font-size: 16px; /* Set the desired font size for paragraphs on mobile devices */
    }
    h2 {
        font-size: 24px; /* Set the desired font size for h2 on mobile devices */
    }
}